@charset "utf-8";
/*pc_public start*/
body,
ul,
dl,
dd,
dt,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
img,
td,
div,
input {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei", "Arial", "Helvetica", "sans-serif";
  font-size: 12px;
  font-style: normal;
  line-height: 22px;
  font-weight: normal;
  font-variant: normal;
  color: #666666;
  background-color: #f4f4f4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  outline-style: none;
  text-decoration: none;
  border: 0px;
  color: #6d6d6d;
}
a:hover {
  text-decoration: none;
  color: #c3862e;
}
input,
select,
textarea {
  font-size: 12px;
  font-family: "Arial", "Helvetica", "sans-serif";
  color: #666666;
  outline: none;
}
input {
  border: 0;
}
img {
  border: 0;
}
li {
  list-style-type: none;
  vertical-align: 0;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.cleardiv {
  clear: both;
  line-height: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
}
/*时间轴*/
#timeline {
  width: 100%;
  overflow: hidden;
  margin: 10px auto 0;
  padding-bottom: 30px;
  position: relative;
  background: url(../images/d_line.gif) no-repeat 50px 42px;
}
#dates {
  height: 100px;
  overflow: hidden;
}
#dates li {
  list-style: none;
  float: left;
  width: 80px;
  height: 70px;
  font-size: 14px;
  text-align: center;
  background: url(../images/d_cur0.gif) center 34px no-repeat;
}
#dates a {
  line-height: 38px;
  height: 60px;
  display: block;
}
#dates .selected {
  background: url(../images/d_cur.gif) center 34px no-repeat;
}
#dates .selected a {
  font-size: 14px;
  color: #d71513;
  line-height: 38px;
  font-weight: 700;
}
#issues {
  width: 470px;
  overflow: hidden;
  top: 0px;
  position: relative;
}
#issues li {
  width: 585px;
  padding-left: 50px;
  padding-top: 30px;
  float: left;
  position: relative;
  background: url(../images/nicai_dsj.gif) repeat-y 25px top;
}
.img_n {
  width: 320px;
  margin: 0 auto;
  padding: 15px;
  display: block;
}
.img_n_p {
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#grad_left,
#grad_right {
  width: 100px;
  height: 350px;
  position: absolute;
  top: 0;
  display: none;
}
#grad_left {
  left: 0;
  background: url('../images/grad_left.png') repeat-y;
}
#grad_right {
  right: 0;
  background: url('../images/grad_right.png') repeat-y;
}
#next,
#prev {
  position: absolute;
  top: 0;
  font-size: 70px;
  top: 30px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  overflow: hidden;
}
#next {
  right: 0px;
  background: #ffffff url(../images/next_time.jpg) no-repeat right center;
}
#prev {
  left: 0px;
  background: #ffffff url(../images/prev_time.jpg) no-repeat left center;
}
#prev:hover {
  background: #ffffff url(../images/prev_red.jpg) no-repeat left center;
}
#next:hover {
  background: #ffffff url(../images/next_red.jpg) no-repeat right center;
}
.phover {
  background: #ffffff url('../images/d_left.gif') no-repeat left center !important;
  opacity: 0.2;
}
.nhover {
  background: #ffffff url('../images/d_right.gif') no-repeat right center !important;
  opacity: 0.2;
}
#next.disabled,
#prev.disabled {
  opacity: 0.2;
}
.ul_hid {
  width: 562px;
  overflow: hidden;
  margin: 0 auto;
}
.is_ul {
  width: 693px;
  height: 600px;
}
.dsj_one {
  width: 549px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}
.dsj_one.fen {
  background-color: #f4edeb;
}
.dsj_tb {
  width: 14px;
  height: 14px;
  background: url(../images/dsj_tb.gif) no-repeat;
  position: absolute;
  left: -30px;
  top: 20px;
}
.dsj_one h3 {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 400;
}
.lanjiao {
  width: 7px;
  height: 12px;
  background: url(../images/lan_jiao.gif) no-repeat;
  position: absolute;
  left: -7px;
  top: 20px;
}
.lanjiao.fen {
  background: url(../images/fenjiao.gif) no-repeat;
}
/*public stop here*/
.wrap {
  width: 100%;
  margin: 0 auto;
}
.head_title {
  width: 981px;
  height: 60px;
  margin: 0 auto;
  clear: both;
}
.language_chose {
  float: left;
  width: 200px;
  height: 60px;
  line-height: 60px;
}
.language_chose a {
  margin-right: 10px;
}
.head_search {
  float: right;
  height: 40px;
  padding-top: 20px;
}
.head_search input {
  width: 124px;
  height: 20px;
  padding-left: 5px;
  border: 1px solid #d2d2d2;
}
.head {
  width: 931px;
  height: 35px;
  padding: 24px 24px 21px 24px;
  background-color: #FFF;
  border: 1px solid #dbdbdb;
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  overflow: hidden;
  clear: both;
}
.head .logo {
  width: 204px;
  height: 35px;
  float: left;
  display: block;
}
.head .logo img {
  width: 204px;
  height: 35px;
  display: block;
}
.head .head_nav {
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  float: right;
}
.head .head_nav .menu {
  display: none;
}
.head .head_nav ul li {
  float: left;
  padding: 0 15px;
}
.main {
  width: 981px;
  background-color: #FFF;
  margin: 0 auto;
}
.main .main_banner {
  width: 981px;
  height: 218px;
}
.main .main_banner img {
  width: 981px;
  height: 218px;
  display: block;
}
.main .main_sidenav {
  width: 188px;
  padding: 0 20px;
  float: left;
}
.main .main_sidenav h3 {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #dddddd;
}
.main .main_sidenav ul li {
  border-bottom: 1px solid #dddddd;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.main .main_sidenav ul li a::before {
  content: '>';
  margin: 0 15px;
}
.main .main_content {
  width: 672px;
  padding: 0 40px;
  border-left: 1px solid #dddddd;
  float: right;
}
.main .main_content .bread_link {
  height: 60px;
  line-height: 60px;
  text-align: right;
  color: #9c9c9c;
  font-size: 14px;
}
.main .main_content .bread_link a {
  color: #9c9c9c;
  margin: 0 5px;
}
.main .main_content .bread_link a:hover {
  color: #c3862e;
}
.main .main_content .main_h3 {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  border-bottom: 1px solid #dddddd;
}
.main .main_content .main_h3.add_h3_border {
  position: relative;
}
.main .main_content .main_h3.add_h3_border .title {
  position: absolute;
  padding: 0 10px;
  top: -1px;
  left: 0;
  border-bottom: 2px solid #ae7b20;
}
.main .main_content .content_list {
  padding: 0 20px;
}
.main .main_content .content_list ul li {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 1px dashed #dddddd;
}
.main .main_content .content_list ul li a {
  float: left;
}
.main .main_content .content_list ul li span {
  color: #9f9e9e;
  float: right;
}
.main .main_content .map_list_content {
  font-size: 14px;
  padding: 10px 20px;
}
.main .main_content .map_list_content ul li {
  line-height: 35px;
}
.main .main_content .map_list_content ul li .title {
  width: 80px;
  color: #333333;
  float: left;
}
.main .main_content .map_list_content ul li .content {
  width: 500px;
  float: left;
}
.main .main_content .map_list_content ul li .content a {
  margin: 0 5px;
  display: inline-block;
}
.main .main_content .main_detail_content {
  padding: 20px;
  font-size: 14px;
}
.main .main_content .main_detail_content p {
  text-indent: 24px;
  margin: 20px auto auto;
}
.main .main_content .main_bottom_enter {
  font-size: 14px;
  padding: 20px;
}
.main .main_content .main_bottom_enter .public_bottom_enter {
  width: 254px;
}
.main .main_content .main_bottom_enter .public_bottom_enter h3 {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dddddd;
}
.main .main_content .main_bottom_enter .public_bottom_enter .img {
  width: 218px;
  height: 159px;
  padding: 2px;
  border: 1px solid #dddddd;
  margin: 0 auto;
  margin-top: 20px;
}
.main .main_content .main_bottom_enter .public_bottom_enter .link {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.main .main_content .news_detail_page {
  padding: 20px;
}
.main .main_content .news_detail_page .h3_title {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}
.main .main_content .news_detail_page .author_information {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dfdfdf;
}
.main .main_content .news_detail_page .author_information .one {
  width: 40%;
  color: #a1a1a1;
  float: left;
}
.main .main_content .news_detail_page .author_information .one.last {
  width: 20%;
  text-align: right;
}
.main .main_content .news_detail_page .news_detail_area {
  font-size: 14px;
  padding: 20px;
}
.main .main_content .news_detail_page .news_detail_area p {
  margin-bottom: 20px;
  text-indent: 24px;
  color: #727272;
}
.main .main_content .group_work_box {
  position: relative;
  padding: 28px 23px 10px 23px;
  margin: 23px 0;
}
.main .main_content .group_work_box .title {
  position: absolute;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: 14px;
  padding: 0 15px;
  top: -13px;
  left: 0px;
  color: #FFF;
  border-radius: 3px;
}
.main .main_content .group_work_box ul li {
  height: 34px;
  line-height: 34px;
  border-bottom: 1px dashed #c4c0b8;
}
.main .main_content .group_work_box ul li a {
  float: left;
}
.main .main_content .group_work_box ul li span {
  float: right;
}
.main .main_content .group_work_box .list_more_link {
  color: #d0a145;
  line-height: 40px;
  float: right;
}
.main .main_content .group_work_box.color1 {
  background-color: #f6f1e7;
}
.main .main_content .group_work_box.color1 .title {
  background-color: #d3aa5b;
}
.main .main_content .group_work_box.color2 {
  background-color: #f5f4df;
}
.main .main_content .group_work_box.color2 .title {
  background-color: #beba53;
}
.main .main_content .group_work_box.color3 {
  background-color: #f7edea;
}
.main .main_content .group_work_box.color3 .title {
  background-color: #e49b8b;
}
.main .main_content .proud_leader_list .p_l_l_hd {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  padding: 20px 0;
}
.main .main_content .proud_leader_list .p_l_l_hd ul li {
  padding: 0 20px;
  background-color: #d8d8d8;
  cursor: pointer;
  margin-right: 3px;
  float: left;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  overflow: hidden;
}
.main .main_content .proud_leader_list .p_l_l_hd ul li.on {
  background-color: #cb8c1b;
  color: #FFF;
}
.main .main_content .proud_leader_list .p_l_l_bd {
  padding: 20px;
}
.main .main_content .proud_leader_list .p_l_l_bd ul li {
  display: none;
}
.main .main_content .proud_leader_list .p_l_l_bd ul li .p_l_l_onebox {
  width: 127px;
  background-color: #efefef;
  padding: 5px;
  margin-right: 18px;
  margin-bottom: 20px;
  text-align: center;
  float: left;
}
.main .main_content .proud_leader_list .p_l_l_bd ul li .p_l_l_onebox .h3 {
  font-weight: 700;
  color: #414141;
  font-size: 14px;
}
.main .main_content .proud_leader_list .p_l_l_bd ul li .p_l_l_onebox .p {
  font-size: 12px;
}
.main .main_content .public_picture_list {
  padding-top: 40px;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
}
.main .main_content .public_picture_list ul {
  width: 700px;
}
.main .main_content .public_picture_list ul li {
  margin-right: 11px;
  margin-bottom: 20px;
  float: left;
}
.main .main_content .public_picture_list ul li img {
  width: 199px;
  height: 147px;
  border: 1px solid #dadada;
  padding: 2px;
  display: block;
}
.main .main_content .public_picture_list ul li p {
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.main .main_content .public_slide_leftLoop {
  border-top: 1px solid #dddddd;
  padding: 60px;
  position: relative;
}
.main .main_content .public_slide_leftLoop .prev,
.main .main_content .public_slide_leftLoop .next {
  width: 14px;
  height: 33px;
  display: block;
  top: 100px;
  position: absolute;
}
.main .main_content .public_slide_leftLoop .prev {
  left: 0;
  background: url(../images/prev_btn_0.gif) no-repeat;
}
.main .main_content .public_slide_leftLoop .prev:hover {
  background: url(../images/prev_btn_1.gif) no-repeat;
}
.main .main_content .public_slide_leftLoop .next {
  right: 0;
  background: url(../images/next_btn_0.gif) no-repeat;
}
.main .main_content .public_slide_leftLoop .next:hover {
  background: url(../images/next_btn_1.gif) no-repeat;
}
.main .main_content .public_slide_leftLoop .bd ul li {
  text-align: center;
  margin-right: 27px;
  float: left;
}
.main .main_content .public_slide_leftLoop .bd ul li img {
  width: 153px;
  height: 105px;
  display: block;
  border: 1px solid #cecece;
  padding: 2px;
}
.main .main_content .public_slide_leftLoop .bd ul li p {
  line-height: 35px;
}
.main .main_content .pages_break {
  text-align: center;
  padding: 40px 0;
}
.main .main_content .pages_break a {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
}
.main .main_content .pages_break a:hover {
  color: #FFF;
  background-color: #cc1b1b;
}
.main .main_content.big_bottom {
  padding-bottom: 70px;
}
.foot {
  width: 941px;
  padding: 0 20px;
  font-size: 12px;
  height: 80px;
  line-height: 60px;
  margin: 0 auto;
}
.foot .left {
  float: left;
}
.foot .left a {
  margin-right: 10px;
}
.foot .mid {
  float: right;
  margin-right: 20px;
}
.foot .right {
  float: right;
}
